

<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; 
                background-color:whitesmoke;
             }
        form input { border-style: solid; border-width: 1px;border-radius:5px; padding: 10px; width:40%; margin-right: .5%; }
        form button { width:9%; background: rgb(130, 224, 255); border-radius:5px; padding: 10px; margin-left: 50%; }
        #messages {text-align: center; list-style-type: none; margin: 0; padding: 0; }

        /* input{
          float:right;
        } */
        
        #user{
          float:left;
          margin-left:27%;
          border-radius:7px;
          padding:10px;         
        }
       #enter{
         border-radius:5px;
         width:140px;
         background-color:green;
         padding:10px;
       }
       #header{
         height: 180px;
         width: 450px;
         background-color: skyblue;
         padding:15px;
         border-radius:10px;
         margin-top:30%;
       }
       /*HEADER OF THE page  */
       header{
         padding:20px;
         border-radius:2px;
         background-color: cornflowerblue;
         position: -webkit-sticky;
         position: sticky;
       }
       
    
       #chatForm{
         margin-bottom:50%;
       }

       /*THE ONLINE USERS FOR CHATBOX  */
       #chatboxuser{
        padding:2px;
        border-radius:1px;
        width:170px;
        margin-left:20px;
        margin-top:20px;
        background-color: yellow;
       }
      /* Messages */
       #groupmessage{
          width: 200px;
       }
       #myownmessage {
         text-align: right;
       }
       #othersmessage {
         text-align: left;
       }

     /* Online users */
       #onlineuser:hover{
           margin-left: 20px;
           background-color: yellow;
       }
       
       #onlineuser{
           margin-left: 20px;
       }
    /* vertical line */
       .vl {
          border-left:1px solid black;
          height:9000px;
          margin-left:21%;
          background-color: skyblue;
        }
        .verticalonlineuser {
          border-left:2px solid black;
          height:9000px;
          margin-left:15%;
        }

      .vl {
        border-right:1px solid black;
        height:9000px;
        margin-right: 23%;
      }

    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>

  <body>
 <header ><center><h1>Welcome to my Chatbox</h1></center></header>    

     <center>  
        <fieldset id="header">
               <input type="text" name="FirstName" id="user" required placeholder="Type a user name......"><br><br><br><button id="enter">Enter</button>   
        </fieldset>
      </center>

 <h1 id="chatboxuser">Online Users</h1>

     <ul id="row"></ul>

        <center>
          <div class="vl">
              <center><h1>Welcome to PN-GROUPCHAT</h1></center><hr><br><br>
              <ul id="messages"></ul>
              <br><br><br><br>         
                <form action="/" method="POST" id="chatForm">
                  <button>Send</button><input id="txt"  required =" "autocomplete="off" autofocus="on" placeholder="type your message here..." />
                </form>   
          </div>
        </center>
          
     <script>
            var socket = io.connect('http://localhost:8080');
            var myname = "";
            var interval = 0;
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                  e.preventDefault(); //reloading prevents page 
                  socket.emit('chat_message', {sender: myname, Message: $('#txt').val() } );
                  $('#txt').val('');
                  return false;
              });
              socket.on('chat_message', function(msg){
                $("#typing").remove();
                if (msg.sender == myname) {
                  $('#messages').append("<li id='myownmessage'><b>"+msg.sender+"</b>: "+msg.Message+"</li><br>");
                } else {
                  $('#messages').append("<li id='othersmessage'><b>"+msg.sender+"</b>: "+msg.Message+"</li><br>");
                }
              });

              $("#txt").keydown(function() {
                socket.emit('typing', myname);
              })


              socket.on('typing', function(data) {
                if (data != myname) {
                  clearInterval(interval);
                  $("#typing").remove();
                  $("#messages").append("<li id='typing'style='text-align:left' >"+data+" is typing</li>");
                  interval = setInterval(function(){ $("#typing").remove(); }, 1000);
                }
              })

        

            // append text if someone is online
            socket.on('is_online', function(username) {
                $('#row').append("<br><button id='onlineuser'><li>"+username+"</li></button><br>");
            });

            // ask username
     $(document).ready(function(){
               $(".vl").hide();
               $("#chatboxuser").hide();
              $("#enter").click(function(){
                var username= $("#user").val();
                socket.emit('username',username);
                myname = username;
                $("#header").hide();
                $(".vl").show();
                $("#chatboxuser").show();
              });
             //The private part 
       });


    </script>
  </body>
</html>

